@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 30%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --card: 219 38% 97%;
    --card-foreground: 219 38% 30%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 214 64% 98%;
    --primary-foreground: 216 76% 44%;

    --secondary: 210 40% 98%;
    --secondary-foreground: 210 40% 30%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 69% 90%;
    --destructive-foreground: 0 69% 25%;

    --ring: 217 33% 17%;

    --radius: 0.5rem;

    --chat-card: 200 70% 95%;
    --chat-card-foreground: 200 69% 25%;

    --input-placeholder: 215 16% 47%;

    --warning: 43 91% 75%;
    --warning-foreground: 43 92% 30%;
  }

  .dark {
    --background: 220 80% 12%;
    --foreground: 210 40% 98%;

    --muted: 220 50% 23%;
    --muted-foreground: 220 50% 32%;

    --popover: 221 81% 12%;
    --popover-foreground: 220 80% 98%;

    --card: 221 81% 14%;
    --card-foreground: 210 40% 95%;

    --border: 217 33% 30%;
    --input: 221 30% 30%;

    --primary: 200 80% 35%;
    --primary-foreground: 198 77% 95%;

    --secondary: 221 80% 20%;
    --secondary-foreground: 219 77% 95%;

    --accent: 221 80% 20%;
    --accent-foreground: 219 77% 95%;

    /* --accent: 264 60% 23%;
    --accent-foreground: 270 69% 95%; */

    --destructive: 0 80% 30%;
    --destructive-foreground: 0 80% 90%;

    /* --ring: 217 33% 18%; */
    --ring: 221 50% 20%;

    --chat-card: 221 81% 20%;
    --chat-card-foreground: 209 40% 72%;

    --input-placeholder: 221 20% 70%;

    --warning: 43 80% 50%;
    --warning-foreground: 42 80% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground min-h-screen;
  }

  html, body {
    @apply h-full;
  }

  /* for debugging */
  .brr {
    border: 1px solid red;
  }
}
